.siteSearch {
    background-color: darkgoldenrod;
    /* transform: translateY(-100px); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 11;
}

.searchWrap {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    transition: all 2s;
}