.pagePhotosWrap ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
}

.pagePhotoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 950px ) {
    .pagePhotosWrap ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 751px ) {
    .NavBarMainWrapper {
        display: none;
    }
}

@media (max-width: 450px ) {
    .pagePhotosWrap ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .pagePhotoContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
