.NavBarMainWrapper {
    background-color: salmon;
}

.NavBarMainNav {
    background-color: salmon;
    height: 100%;
    position: relative;

}

.NavBarMainWrapper button {
   padding: 0 25px;
   background-color: transparent;
   cursor: pointer;
}
 
.NavBarMainUl {
    position: absolute;
    transition: 2s;
    background-color: salmon;
    padding: 20px 0 20px 20px;
    height: 100%;
    z-index: 5;
}

.NavBarMainUl li {
    padding: 0 20px;
}

.NavBarMainUl li:hover {
    background-color: antiquewhite;
    border-radius: 20px;
}
.NavBarMainUl
.NavPhotoMainNav,
.NavVideoMainNav {
    padding: 20px 0;
    transition: 2s;
    position: absolute;
    transform: translateX(-200%);
    top: 0;
    background-color: coral;
    opacity: 0;
}

.navLiPhoto:hover .NavPhotoMainNav {
    transform: translateX(50%);
    opacity: 1;
}

.navLiVideo:hover .NavVideoMainNav {
    transform: translateX(50%);
    opacity: 1;
}