.NavBarMainWrapper {
    background-color: var(--color-navBar);
    border-radius: 15px;
}

.NavBarMainNav {
    background-color: var(--color-navBar);
    height: 100%;
    position: relative;
    z-index: 1;
}

.NavBarMainWrapper button {
   width: 100px;
   background-color: transparent;
   cursor: pointer;
}
 
.NavBarMainUl {
    position: absolute;
    transition: 2s;
    background-color: var(--color-backGround);
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    z-index: 5;
}

.NavBarMainUl > li {
    padding: 0 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 2px solid var(--color-backGround);
}

.NavPhotoMainNav li,
.NavVideoMainNav li {
    padding: 0 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 2px solid var(--color-navBar);
}

.NavBarMainUl li:hover {
    border-radius: 20px;
    margin-bottom: 5px;
    border: 2px solid var(--color-border);
}
.NavBarMainUl
.NavPhotoMainNav,
.NavVideoMainNav {
    padding-top: 10px;
    padding-left: 10px;
    transition: 2s;
    position: absolute;
    transform: translateX(-200%);
    top: 0;
    background-color: var(--color-navBar);
    border-radius: 15px;
    opacity: 0;
}

.navLiPhoto:hover .NavPhotoMainNav {
    transform: translateX(50%);
    opacity: 1;
}

.navLiVideo:hover .NavVideoMainNav {
    transform: translateX(50%);
    opacity: 1;
}