.pagePhotosWrap ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 300px);
}

.photosImgLi {
    max-width: 250px;
}

.photosImgLi img {
    width: 100%;
}

.pagePhotoImg {
    max-width: 300px;
}

.pagePhotoImg img {
    max-width: 100%;
}

.photoSlide {
    display: flex;
}

.slideImg {
    display: none;
}

.slideImg img {
    width: 100%;
}

.slideImgActive {
    display: block;
    max-width: 300px;
}

.sliderWrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.sliderContainer {
    display: flex;
}