.pagePhotosWrap ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 300px);
}

.pagePhotoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.photosImgLi {
    max-width: 250px;
}

.photosImgLi img {
    width: 100%;
}

.pagePhotoImg {
    max-width: 300px;
}

.pagePhotoImg img {
    max-width: 100%;
}

.photoSlide {
    display: flex;
}

.slideImg {
    display: none;
}

.slideImg img {
    width: 100%;
}

.slideImgActive {
    display: block;
    max-width: 300px;
}

 .sliderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: black;
    height: 100%;
    width: 100%;
    transition: all 2s;
    z-index: 12;
 }

.sliderContainer {
    display: flex;
}