
.ulWrapperImg {
    display: flex;
    overflow: hidden;
 
}

.wrapperImg {
    height: 100px;
    flex-shrink: 0;
}

.wrapperImg img {
    max-width: 100%;
    max-height: 100%;
}

.wrapperBtnSliderClickHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.wrapperBtnSliderClickHome button {
    padding: 3px 5px;
}

@media(max-width: 435px) {
    .ulWrapperImg {
        max-width: 200px;
    }
}

@media(max-width: 275px) {
    .ulWrapperImg {
        max-width: 100px;
    }
}

@media(max-width: 175px) {
    .ulWrapperImg {
        max-width: 70px;
    }
}
