/* .SocialNetworkWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
} */

.wrapMessageChat > p {
    margin: 5px;
}

.btnNetwork {
    position: fixed;
    bottom: 10px;
    right: 50px;
}

.wrapOpenChat {
    position: fixed;
    bottom: 10px;
    right: 50px;
    background-color: var(--color-backGround);
    border: solid 2px var(--color-border);
    padding: 7px;
    border-radius: 15px;
    z-index: 3;
    transition: 2s all ease;
}

.closeChat {
    position: absolute;
    left: -20%;
    bottom: 0;
}

.wpapInputMessage {
    margin: 5px;
}

.wpapInputMessage label {
    display: block;
}


.wpapInputMessage input {
   margin: 5px 0;
   padding: 2px 0 2px 5px;
   border-radius: 15px;
}