

.ulWrapperImg {
    display: flex;
}

.wrapperImg {
    height: 100px;
    flex-shrink: 0;
}

.wrapperImg img {
    width: 100%;
    height: 100%;
}

.wrapperBtnSlideHome {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.wrapperBtnSlideHome button {
    padding: 3px 5px;
}