header {
   margin-top: 50px;
}
 
.heading {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    z-index: 6;
    background-color: var(--color-navBar);
}

.greetingTheme {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
