footer {
    margin-top: 30px;
}

.footerUl {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 200px;
}

.end {
    height: 50px;
    background-color: cornflowerblue;
}