.navBarWrapper {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.slideLinkMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnApp {
    position: fixed;
    right: 10px;
    bottom: 10px;
} 

/* theme */

button {
    color: var(--color-text);
    background-color: var(--color-backGround);
    border: 2px solid var(--color-border);
}

a {
    color: var(--color-text);
}

body {
    color: var(--color-text);
    background: var(--color-backGround);
}