.navBarWrapper {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.slideLinkMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* theme */

button {
    color: var(--color-text);
    background-color: var(--color-backGround);
    border: 2px solid var(--color-border);
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 10px;
}

a {
    color: var(--color-text);
    transition: color 3s ease;
}

body {
    color: var(--color-text);
    background-color: var(--color-backGround);
    transition: background-color 1.5s ease;
}